{% extends template('widget') %}

{% define data = {
    idProductAbstract: _widget.product.idProductAbstract | default,
    images: _widget.product.images | default([])
} %}

{% block body %}
    {% embed molecule('simple-carousel') with {
        data: {
            slides: data.images
        },
        embed: {
            idProductAbstract: data.idProductAbstract
        }
    } only %}
        {% block slide %}
            <div class="text-center">
                {% include molecule('lazy-image') with {
                    class: 'js-pdp-color-group__image-' ~ embed.idProductAbstract,
                    modifiers: ['thumbnail', 'bigger'],
                    data: {
                        imageSrc: slide.externalUrlLarge,
                        extraAttributes: {
                            itemprop: 'image',
                        },
                    },
                } only %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
