{% extends '@Spryker:DummyMerchantPortalGui/Index/index.twig' %}

{% block headTitle %}
    Project Dummy Merchant Portal Gui
{% endblock %}

{% block title %}
    <span title>Title on the Project Level</span>
{% endblock %}

{% block cardContent %}
    Extended Card Content on the Project level

    {{ parent() }}
{% endblock %}
