{% extends view('pdp','@SprykerShop:ProductDetailPage') %}

{% block cmsContent %}
    <div class="box">
        {% cms_slot 'slt-5' with {
            idProductAbstract: data.product.idProductAbstract,
        } %}
    </div>
{% endblock %}
