includes:
    - vendor/spryker-sdk/phpstan-spryker/extension.neon

parameters:
    excludes_analyse:
        - %rootDir%/../../../src/Generated/*
        - %rootDir%/../../../src/Orm/*

    bootstrap: %rootDir%/../../../phpstan-bootstrap.php

    ignoreErrors:
        - '#Call to an undefined method .+Criteria::.+\(\).#'
        - '#Call to an undefined method .+DataSetStepBrokerAwareInterface::setDataSetWriter\(\).#'
        - '#Call to an undefined method .+DataSetStepBrokerAwareInterface::addAfterImportHook\(\).#'
        - '#Each class must be in a namespace of at least one level (a top-level vendor name)#'

    reportUnmatchedIgnoredErrors: false

    dynamicConstantNames:
        - APPLICATION
        - APPLICATION_ENV
        - APPLICATION_STORE
        - APPLICATION_CODE_BUCKET
