includes:
    - vendor/spryker-sdk/phpstan-spryker/extension.neon

parameters:
    excludes_analyse:
        - %rootDir%/../../../src/Generated/*
        - %rootDir%/../../../src/Orm/*

    bootstrap: %rootDir%/../../../phpstan-bootstrap.php

    ignoreErrors:
        - '#Call to an undefined method .+Criteria::.+\(\).#'
        - '#Call to an undefined method .+DataSetStepBrokerAwareInterface::setDataSetWriter\(\).#'
        - '#Call to an undefined method .+DataSetStepBrokerAwareInterface::addAfterImportHook\(\).#'
        - "#Strict comparison using === between '' and 'development' will always evaluate to false.#"
        - "#Strict comparison using === between '' and 'devtest' will always evaluate to false.#"
        - "#Result of || is always false.#"

    reportUnmatchedIgnoredErrors: false
