$color-selector-size: 1.5rem;

@mixin product-color-group-widget-color-selector($name: '.color-selector') {
    #{$name} {
        &__list {
            display: flex;
            cursor: default;
        }

        &__item {
            @include helper-effect-transition(border-color opacity);
            width: $color-selector-size;
            height: $color-selector-size;
            border: 0.125rem solid $setting-color-dark;
            border-radius: 100%;
            opacity: 0.5;

            &:not(:last-child) {
                margin-right: 0.75rem;
            }

            &:hover,
            &--active {
                border-color: $setting-color-main;
                opacity: 1;
            }
        }

        &--center {
            #{$name}__list {
                justify-content: center;
            }
        }

        @content;
    }
}

@include product-color-group-widget-color-selector();
