{% extends template('page-layout-main', '@SprykerShop:ShopUi') %}

{% block sidebar %}
    {% embed organism('side-drawer') with {
        class: 'is-hidden-lg-xl',
        modifiers: ['is-new'],
        attributes: {
            'container-selector': 'js-page-layout-main',
            'trigger-selector': 'js-page-layout-main__side-drawer-trigger',
        },
    } only %}
        {% block mobileNavigation %}
            {% cms_slot 'slt-mobile-header' %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block header %}
    {% embed organism('header') only %}
        {% block mainNavigation %}
            {% cms_slot 'slt-desktop-header' %}
        {% endblock %}

        {% block mobile %}
            <button class="button button--dark-text button--no-padding button--transparent js-page-layout-main__side-drawer-trigger spacing-right">
                {% include atom('icon') with {
                    class: 'spacing-right',
                    modifiers: ['xbig'],
                    data: {
                        name: 'bars',
                    },
                } only %}
            </button>
            <button class="button button--dark-text button--no-padding button--transparent {{ config.jsName }}__mobile-search-trigger">
                {% include atom('icon') with {
                    modifiers: ['xbig'],
                    data: {
                        name: 'search',
                    },
                } only %}

                {% include molecule('toggler-click') with {
                    attributes: {
                        'trigger-class-name': config.jsName ~ '__mobile-search-trigger',
                        'target-class-name': 'search-form--is-new',
                        'class-to-toggle': 'mobile-search-visible',
                    },
                } only %}
            </button>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block footer %}
    {% embed organism('footer') only %}
        {% block footerNavigation %}
            <div class="box">
                {% cms_slot 'slt-footer' %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
