{% extends template('page-layout-main', '@SprykerShop:ShopUi') %}

{% block header %}
    {% embed organism('header') only %}
        {% block mainNavigation %}
            {% cms_slot 'slt-7' %}
        {% endblock %}

        {% block mobile %}
            <a href="#" class="link link--alt js-page-layout-main__side-drawer-trigger">
                {% include atom('icon') with {
                    modifiers: ['big'],
                    data: {
                        name: 'bars',
                    },
                } only %}
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block footer %}
    {% embed organism('footer') only %}
        {% block footerNavigation %}
            {% cms_slot 'slt-8' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
