{% extends template('page-layout-main', '@SprykerShop:ShopUi') %}

{% block sidebar %}
    {% embed organism('side-drawer') with {
        class: 'is-hidden-lg-xl',
        attributes: {
            'container-selector': 'js-page-layout-main',
            'trigger-selector': 'js-page-layout-main__side-drawer-trigger',
        },
    } only %}
        {% block mobileNavigation %}
            {% cms_slot 'slt-9' %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block header %}
    {% embed organism('header') only %}
        {% block mainNavigation %}
            {% cms_slot 'slt-7' %}
        {% endblock %}

        {% block mobile %}
            <a href="#" class="link link--alt js-page-layout-main__side-drawer-trigger">
                {% include atom('icon') with {
                    modifiers: ['big'],
                    data: {
                        name: 'bars',
                    },
                } only %}
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block footer %}
    {% embed organism('footer') only %}
        {% block footerNavigation %}
            <div class="box">
                {% cms_slot 'slt-8' %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
