{% extends template('page-layout-catalog', 'CatalogPage') %}

{% define data = {
    products: [],
    facets: _view.facets,
    category: _view.category | default,
    categories: categories | default([]),
    isEmptyCategoryFilterValueVisible: _view.isEmptyCategoryFilterValueVisible | default,
    viewMode: _view.viewMode | default,

    title: _view.category.name | default,
    metaTitle: _view.pageTitle | default(_view.category.name | default),
    metaDescription: _view.pageDescription | default,
    metaKeywords: _view.pageKeywords | default,

    pagination: {
        parameters: null,
        currentPage: null,
        paginationPath: null,
        maxPage: null,
        showAlwaysFirstAndLast: false
    }
} %}

{% set categoryTemplate = molecule('category-card') %}
{% set cardClass = 'col col--sm-12 col--md-6 col--lg-6 col--xl-4' %}

{% if data.viewMode == 'list' %}
    {% set categoryTemplate = molecule('category-list-item') %}
    {% set cardClass = 'col col--sm-12' %}
{% endif %}

{% block form %}
    <div class="col col--sm-12 col--lg-4 col--xl-3">
        {% block filterBar %}
            {% include molecule('view-mode-switch', 'CatalogPage') with {
                class: 'box'
            } only %}

            {% embed organism('filter-section', 'CatalogPage') with {
                class: 'box js-catalog__filters-toggle',
                data: {
                    facets: data.facets,
                    categories: data.categories,
                    isEmptyCategoryFilterValueVisible: data.isEmptyCategoryFilterValueVisible
                }
            } only %}
                {% block body %}
                    {% for filter in data.facets %}
                        {% set filterHasValues = filter.values is not defined or filter.values | length > 0 %}
                        {% set filterIsVisible = filterHasValues and filter.name == 'category' %}

                        {% if filterHasValues and filterIsVisible %}
                            <h6>{{ ('product.filter.' ~ filter.name | lower) | trans }}</h6>

                            {% include [
                                molecule('filter-' ~ filter.config.name, 'CatalogPage'),
                                molecule('filter-' ~ filter.config.type, 'CatalogPage')
                                ] ignore missing with {
                                data: {
                                    categories: data.categories,
                                    filter: filter,
                                    min: filter.min | default(0),
                                    max: filter.max | default(0),
                                    activeMin: filter.activeMin | default(0),
                                    activeMax: filter.activeMax | default(0),
                                    isEmptyCategoryFilterValueVisible: data.isEmptyCategoryFilterValueVisible
                                }
                            } only %}

                            <hr />
                        {% endif %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    </div>

    <div class="col col--sm-12 col--lg-8 col--xl-9">
        <div class="grid grid--stretch">
            {% for childCategory in data.category.children %}
                {% include categoryTemplate with {
                    class: cardClass,
                    data: {
                        id: childCategory.id_category,
                        name: childCategory.name,
                        url: childCategory.url
                    }
                } only %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
