{% extends molecule('card') %}

{% define config = {
    name: 'category-card',
    tag: 'article'
} %}

{% define data = {
    id: required,
    name: required,
    url: required,
    imageUrl: ''
} %}

{% block image %}
    <a href="{{data.url}}">
        {% widget 'CategoryImageStorageWidget' args [data.id, data.name] only %}{% endwidget %}
    </a>
{% endblock %}

{% block content %}
    {% block name %}
        <p class="text-center">
            <strong>{{ data.name }}</strong>
        </p>
    {% endblock %}
{% endblock %}
