@mixin catalog-page-catalog-cms-block($name: '.catalog-cms-block') {
    #{$name} {
        font-size: 14px;
        line-height: 20px;
        color: $setting-color-gray;
        margin-bottom: 14px;

        h1 {
            font-size: 22px;
            margin-bottom: 16px;
            color: $setting-color-darkest;
        }

        h2 {
            font-size: 20px;
            color: $setting-color-darkest;
        }

        h3 {
            font-size: 18px;
            color: $setting-color-darkest;
        }

        h4 {
            font-size: 16px;
            color: $setting-color-darkest;
        }

        @content;
    }
}

@include catalog-page-catalog-cms-block();
