{% extends template('page-layout-catalog', 'CatalogPage') %}

{% define data = {
    products: _view.products,
    facets: _view.facets,
    category: _view.category | default,
    categories: categories | default([]),
    categoryId: _view.idCategory | default,
    isEmptyCategoryFilterValueVisible: _view.isEmptyCategoryFilterValueVisible | default,
    filterPath: _view.filterPath | default,
    viewMode: _view.viewMode | default,

    title: _view.category.name | default,
    metaTitle: _view.pageTitle | default(_view.category.name | default),
    metaDescription: _view.pageDescription | default,
    metaKeywords: _view.pageKeywords | default,

    pagination: {
        parameters: app.request.query.all(),
        currentPage: _view.pagination.currentPage,
        paginationPath: app.request.getPathInfo(),
        maxPage: _view.pagination.maxPage,
        showAlwaysFirstAndLast: true
    }
} %}

{% block filterBar %}
    {{ parent() }}
    <section class="box box--cms-content catalog-cms-block">
        {% cms_slot 'slt-3' with {
            idCategory: data.categoryId,
        } %}
    </section>
{% endblock %}

{% block content %}
    {% if data.categoryId %}
        <section class="box box--cms-content catalog-cms-block">
            {% cms_slot 'slt-2' with {
                idCategory: data.categoryId,
            } %}
        </section>
    {% endif %}

    {{ parent() }}

    <section class="box box--cms-content catalog-cms-block">
        {% cms_slot 'slt-4' with {
            idCategory: data.categoryId,
        } %}
    </section>
{% endblock %}
